<div style="width:100%;height:100%;display:flex;flex-direction:column;">
    <div style="width:50%;height:50%;">
        <b class="header">Hobbies</b>
        <div class="hobbies1">
    <p>A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    </p>
    <div style="padding-lef:20px;"> 
        <img src="assets/game1.png">
    </div>
        </div>
                
        </div>
    <div style="width:50%;height:50%">
    <div class="hobbies2"> 
    <div>
        <img src="assets/game2.png">
        </div>
    <p>A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    </p>
        </div>
    </div>
</div>