
<b class="header">Graduation</b>
<div class="graduation">
    <p>A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    </p>
</div>

<b class="header">Schooling</b>
<div class="graduation"> 
    <p>A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    A paragraph is a series of related
    sentences developing a central idea,
    called the topic. Try to think about 
    paragraphs in terms of thematic unity.
    </p>
</div>