<div style="
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 100px;
  ">
    <div style="width: 40%; margin:5px; height: 100%; display: flex; flex-direction: column;">
        <div style="color:#FF5E67;font-size:150%">Project 1</div>

        <div>
            <img mat-card-image src="/assets/game1.png" width="100%" />
        </div>

        <div class="data">
            <pre>

    The Shiba Inu is the smallest
    of the six original and distinct
    spitz breeds of dog from Japan.
    A small, agile dog that copes very
    well with mountainous terrain,
    the Shiba Inu was originally
    bred for hunting.
    </pre>
        </div>
    </div>
    <div style="width: 40%; margin:5px; height: 100%; display: flex; flex-direction: column;">
        <div style="color:#FF5E67;font-size:150%">Project 2</div>

        <div>
            <img mat-card-image src="/assets/game1.png" width="100%" />
        </div>

        <div class="data">
            <pre>

    The Shiba Inu is the smallest
    of the six original and distinct
    spitz breeds of dog from Japan.
    A small, agile dog that copes very
    well with mountainous terrain,
    the Shiba Inu was originally
    bred for hunting.
    </pre>
        </div>
    </div>
</div>
