<div style="width:90%;height:100%;display:flex;flex-direction:row;margin-top:50px;margin-left:100px;">

<div style="width:40%;height:100%;display:flex;flex-direction:column;">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title style="color:#FF5E67;font-size:150%">Project 1</mat-card-title>
   
  </mat-card-header>
  <img mat-card-image src="/assets/game1.png">
  <mat-card-content style="aling-content:left">
   <div class="data">
    <pre> 
    The Shiba Inu is the smallest 
    of the six original and distinct
    spitz breeds of dog from Japan.
    A small, agile dog that copes very
    well with mountainous terrain, 
    the Shiba Inu was originally
    bred for hunting.
    </pre>
    </div>
  </mat-card-content>
  
  </mat-card>
  </div>
<div style="width:40%;height:100%;display:flex;flex-direction:column;">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title style="color:#FF5E67;font-size:150%">Project 2</mat-card-title>
   
  </mat-card-header>
  <img mat-card-image src="/assets/pro1.png">
  <mat-card-content style="aling-content:left">
   <div class="data">
    <pre> 
    The Shiba Inu is the smallest 
    of the six original and distinct
    spitz breeds of dog from Japan.
    A small, agile dog that copes very
    well with mountainous terrain, 
    the Shiba Inu was originally
    bred for hunting.
    </pre>
    </div>
  </mat-card-content>
 
</mat-card>
</div>

<div style="width:40%;height:100%;display:flex;flex-direction:column;">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title style="color:#FF5E67;font-size:150%">Projecct 3</mat-card-title>
   
  </mat-card-header>
  <img mat-card-image src="/assets/pro1.png">
  <mat-card-content style="aling-content:left">
   <div class="data">
    <pre> 
    The Shiba Inu is the smallest 
    of the six original and distinct
    spitz breeds of dog from Japan.
    A small, agile dog that copes very
    well with mountainous terrain, 
    the Shiba Inu was originally
    bred for hunting.
    </pre>
    </div>
  </mat-card-content>
  
</mat-card>
</div>


</div>