<div style="height:90%; display:flex;flex-direction:row">

<div aos-animate data-aos="fade-up" style="width:50%;height:100%;display:flex;flex-direction:column;align-items:start;justify-content:center;padding-left:144px">
    <div style="color:#FFBE5E;font-weight:350;font-size:30px">Hi, I am</div>
    <div style="color:#FF5E67;font-weight:700;font-size:60px">Kajal Kale</div>
    <div class="logo">
         <img src="assets/link (1).png">
         <img src="assets/github.png">
         <img src="assets/link (2).png">
    </div>
</div>
<div style="width:50%;height:100%;background-image:url('assets/home-img1.png');background-position:center;background-size:contain;">
</div>

</div>
